.body{
  background-color: white;
}
.container {
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  color:#111;
  width: 100%;
}

.chartContainer {
  margin-bottom: 2rem;
}

.heading {
  text-align:center;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
}