.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.chartContainer {
  margin-bottom: 2rem;
}

.heading {
  text-align:center;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
}